.contents{
    width: 100%;

}
.header{
       display: flex;
       background-color: black; 
    align-items: center;  
}
.header h1{
    font-family: 'Avenir','Corbel','Osaka',monospace;
    color: rgb(255, 255, 255);
    margin-left: 80px;
}
.button1 {
    font-size: 20px;
   padding: 5px 25px 5px 25px;
    background-color: crimson;
    color: rgb(255, 255, 255);
    border-radius: 25px;
   margin-left: auto;
}
.button1:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(172, 45, 45); 
    text-decoration: none;
}
.button2 {
    font-size: 20px;
   padding: 5px 25px 5px 25px;
    background-color: crimson;
    color: rgb(255, 255, 255);
    border-radius: 25px;
   margin-left: 30px;
   margin-right: 20px;
}
.button2:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(172, 45, 45); 
    text-decoration: none;
}

.loopSlide {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 92vh;
    overflow: hidden;
  }
  .loopSlide ul {
    padding: 0;
    display: flex;
    flex-shrink: 0;
  }
  .loopSlide ul:first-child {
    animation: slide1 60s -30s linear infinite;
  }
  .loopSlide ul:last-child {
    animation: slide2 60s linear infinite;
  }
  .loopSlide ul li {
    display: inline-block;
    width: 100vw;
    list-style: none;
    text-align: center;
  }
  .loopSlide ul li img {
    display: block;
    width: 100%;
    height: 100vh;
  }

  
  @keyframes slide1 {
    0% {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slide2 {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200%);
    }
  }
.topimg p {
    position: absolute;
    color: rgb(255, 255, 255);/*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 2em;/*サイズ2倍*/
    font-family :Quicksand, sans-serif;/*Google Font*/
    top: 100px;
    left: 50px;
}


