body{
    margin: 0;
    padding: 0;
}
.top-txt h2{
    font-size: 5.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom:80px;
    letter-spacing: 2px;
    font-family: 'Yomogi', cursive;
}
.nav-btn{
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #cca375;
    color: rgb(000, 037, 056);
    border-radius: 15px;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
}
.buttonarea a:hover{
    background-color: rgb(172, 45, 45);
}
.nav-link{
    display: block;
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
    text-align: center;
}
/************************************
fv部部
*************************************/
.main {
    position: relative;
    margin: 0;
}
.top-txt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0 auto;

    font-family : Quicksand, sans-serif;/*Google Font*/
    z-index: 9999;
    text-align: center;
    width: 100%;
}
.slide-items {
    width: 100%;
    margin: 0;
    padding: 0;
}
.slide-items img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.slick-next:before{
    display: none;
}
.slick-next:after{
    display: none;
}
.slick-next{
    right: 0;
    left: 0%;
}