
/* user画面 */
p{font-size:20px;
    text-align:center; margin: 100px auto;
    color:rgb(6, 40, 230);}

    
button{font-size:15px;
    color:rgb(102, 9, 12);}
 .box6 {
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;/*点線*/
}
.box6 p {
    margin: 0; 
    padding: 0;
}   

/* 編集画面 */
.center{
    display: flex;
    justify-content: center;
}

/* 予約確認画面 */
.reserve{
    
    display: flex;
    justify-content: center;
    padding : 20px 10px;
	font-size: 35px;
	transform: scaleX(0.8);
}

th, td {
    border: solid 1px #333; /* 線の種類 太さ 色 */
  }

.button{
    margin-right: 0;
    margin-left: auto;
    width: 30%;
}

.modoru{
    display: flex;
    justify-content: center;
    margin-right: auto;
}
/* 予約一覧 */
.list{
    display: flex;
    justify-content: center;
    padding : 20px 10px;
	font-size: 35px;
	transform: scaleX(0.8);
}
.right{
    margin-right: 0;
    margin-left: auto;
    width: 30%;
    
}

.h1{
    display: flex;
    justify-content: center;

}
.container{
width:100%;
max-width:1000px;
}
/*top画面*/
.table-title h1{
font-size: 30px;
text-align: center;
margin-top: 30px;
}
.table-title p{
  font-size: 20px;
  text-align: left;
  }

.airplane_list_table{
border: 2px solid;
margin: 0 auto;
width: 100%;
max-width:1000px;
font-size:20px;
table-layout:fixed;
word-wrap:break-word;
}
th,td{
border:1px solid rgb(0, 0, 0); 
font-weight: normal;   
}
th{
background-color: #333333;
color: rgb(255, 255, 255);
text-align:center;
}
td{
text-align: center;
}
.airplane_list_table a{
text-decoration: none;
color: #333333;
background-color: 	#9ADCFF;
border: 1px solid #000000;
border-radius: 5px;
width: 100%;
padding: 10px;
}
.airplane_list_table a:hover {
background-color: #669eff;
border: 1px solid #000000;
}

.user_edit_btn {
margin: auto;
text-align:center;
}

.user_edit_btn a{
padding: 0 5px;
color: rgb(4, 4, 4);
background-color: #a4c7ff;
border: 1px solid #000000;
border-radius: 10px;
text-decoration: none;
font-size:20px;    
}
.user_edit_btn a:hover {
background-color: #005fff;
border: 1px solid #000000;
}

/*飛行機作成画面*/
.airplane_create_title h1{
font-size: 30px;
text-align: center;
margin-top: 30px;
}

.createform{
margin: 0 auto 0 auto;
width: 100%;
table-layout: fixed;
max-width:1000px;
font-size:20px;
}
.table_form{
height:60px;
width: 100%;
text-align: center;
border: 1px solid #ffffff;
}
.table_form:focus{
outline: 1px solid #ffffff;
}
.table_form2{
height:60px;
width: 100%;
text-align: center;
border: 1px solid #ffffff;
padding-left: 35px;
}
.table_form2:focus{
outline: 1px solid #ffffff;
}
.create_btn{
display: block;
margin:50px auto 50px auto;
border-radius: 10px;
color: rgb(255, 255, 255);
background-color: #2C7CFF;
border: 2px solid #ffffff;
font-size: 20px;
padding: 10px;
width: 30%;
}
.create_btn:hover {
background-color: #005fff;
}

.back_btn{
text-align: left;
display: block;
}
.back_btn a{
padding: 0 5px;
color: rgb(255, 255, 255);
background-color: #959595;
border: 1px solid #000000;
border-radius: 10px;
text-decoration: none;
font-size:25px;
border-color: #ffffff;
}
.back_btn a:hover {
background-color: #6c757d;
border: 1px solid #41464b;
}

/*飛行機作成確認画面*/
.create_check_title h1{
font-size: 30px;
text-align: center;
margin-top: 30px;
}

.create_check_form{
margin: 0 auto 0 auto;
width: 100%;
table-layout: fixed;
max-width:1000px;
font-size:20px;
height: 316px;
}
/*飛行機編集画面*/
.airplane_edit_title h1{
font-size:30px;
text-align:center;
margin-top:30px;
}
.edit_btn_area{
display:flex;
width: 100%;
justify-content: center;
}
.airplane_edit_btn{
margin: 20px;
border-radius: 10px;
color: rgb(255, 255, 255);
background-color: #2C7CFF;
border: 2px solid #ffffff;
font-size: 20px;
padding: 10px;
width: 30%;
}
.airplane_edit_btn:hover {
background-color: #005fff;
}

/*管理者編集画面*/
.manager_profile_title{
font-size:30px;
text-align:center;
margin-top:30px;   
}

/*会員一覧画面*/
.searcharea{
width: 50%;
height: 50px;
background-color: #888888;
}
.searcharea2{
text-align: center;
padding-top: 10px;
}

.searchform{
width: 60%;
border: 1px solid #ffffff;
}
.searchform:focus{
outline: 1px solid #ffffff;
}
.searchbtn{
margin-left: 8%;
width: 20%;
}
.tab-wrap {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  }
  .tab-label {
    width: 150px;
    color: White;
    background: LightGray;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    border:1px solid Gray;
    border-radius: 4px 0 0 4px;
    margin: 5px -1px 5px 1px;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    float:left;
  }
  .tab-content {
    display:none;
  }
  /* アクティブなタブ */
  .tab-switch:checked+.tab-label {
    color: Gray;
    background: White;
    border-right-color: White;
  }
  .tab-switch:checked+.tab-label+.tab-content {
    width: calc(100% - 150px); /* - ボタン幅 */
    height: 100%;
    padding: 15px;
    border-left: 1px solid Gray;
    display:block;
  }
  /* ラジオボタン非表示 */
  .tab-switch {
    display: none;
  }
