/*
/* user画面

button {
    font-size: 15px;
    color: rgb(102, 9, 12);
    height: 25px;
}
.box6 {
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0; /*点線*/
}
.box6 p {
    margin: 0;
    padding: 0;
}

/* 編集画面 */
.center {
    display: flex;
    justify-content: center;
}

/* 予約確認画面 */
.reserve {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    font-size: 35px;
    transform: scaleX(0.8);
}

th,
td {
    border: solid 1px #333; /* 線の種類 太さ 色 */
}

.button {
    margin-right: 0;
    margin-left: auto;
    width: 30%;
}

.modoru {
    display: flex;
    justify-content: center;
    margin-right: auto;
}
/* 予約一覧 */
.list {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    font-size: 35px;
    transform: scaleX(0.8);
}
.right {
    margin-right: 0;
    margin-left: auto;
    width: 30%;
}

.h1 {
    display: flex;
    justify-content: center;
}
.container {
    /* width: 100%; */
    /* max-width: 1200px; */
}
/*top画面*/
.table-title h1 {
    font-size: 35px;
    text-align: center;
    margin: 70px 0 30px;
}
.table-title p {
    font-size: 20px;
    text-align: left;
}

.airplane_list_table {
    border: 2px solid;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    font-size: 20px;
    table-layout: fixed;
    word-wrap: break-word;
}
th,
td {
    /* border: 1px solid rgb(0, 0, 0); */
    font-weight: normal;
}
th {
    background-color: #333333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}
td {
    text-align: center;
}
.airplane_list_table a {
    text-decoration: none;
    color: #333333;
    background-color: #9adcff;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}
.airplane_list_table a:hover {
    background-color: #669eff;
    border: 1px solid #000000;
}

.user_edit_btn a {
    padding: 0 5px;
    color: rgb(4, 4, 4);
    background-color: #a4c7ff;
    border: 1px solid #000000;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
}
.user_edit_btn a:hover {
    background-color: #005fff;
    border: 1px solid #000000;
}

/*飛行機作成画面*/
.airplane_create_title h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.createform {
    margin: 0 auto 0 auto;
    width: 100%;
    table-layout: fixed;
    max-width: 1000px;
    font-size: 20px;
}
.table_form {
    height: 60px;
    width: 100%;
    text-align: center;
    border: 1px solid #ffffff;
}
.table_form:focus {
    outline: 1px solid #ffffff;
}
.table_form2 {
    height: 60px;
    width: 100%;
    text-align: center;
    border: 1px solid #ffffff;
    padding-left: 35px;
}
.table_form2:focus {
    outline: 1px solid #ffffff;
}
.create_btn {
    display: block;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #2c7cff;
    border: 2px solid #ffffff;
    font-size: 20px;
    padding: 10px;
    width: 30%;
}
.create_btn:hover {
    background-color: #005fff;
}

.back_btn {
    text-align: left;
    display: block;
}
.back_btn a {
    padding: 0 5px;
    color: rgb(255, 255, 255);
    background-color: #959595;
    border: 1px solid #000000;
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;
    border-color: #ffffff;
}
.back_btn a:hover {
    background-color: #6c757d;
    border: 1px solid #41464b;
}

/*飛行機作成確認画面*/
.create_check_title h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.create_check_form {
    margin: 0 auto 0 auto;
    width: 100%;
    table-layout: fixed;
    max-width: 1000px;
    font-size: 20px;
    height: 316px;
}
/*飛行機編集画面*/
.airplane_edit_title h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
.edit_btn_area {
    display: flex;
    width: 100%;
    justify-content: center;
}
.airplane_edit_btn {
    margin: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #2c7cff;
    border: 2px solid #ffffff;
    font-size: 20px;
    padding: 10px;
    width: 30%;
}
.airplane_edit_btn:hover {
    background-color: #005fff;
}

/*管理者編集画面*/
.manager_profile_title {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.tab-wrap {
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
}
.tab-label {
    width: 150px;
    color: White;
    background: LightGray;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    border: 1px solid Gray;
    border-radius: 4px 0 0 4px;
    margin: 5px -1px 5px 1px;
    padding: 10px 0.5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    float: left;
}
.tab-content {
    display: none;
}
/* アクティブなタブ */
.tab-switch:checked + .tab-label {
    color: Gray;
    background: White;
    border-right-color: White;
}
.tab-switch:checked + .tab-label + .tab-content {
    width: calc(100% - 150px); /* - ボタン幅 */
    height: 100%;
    padding: 15px;
    border-left: 1px solid Gray;
    display: block;
}

/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

/* --------------------------------------
飛行機一覧（top画面）
----------------------------------------- */

.plane_reserve h1 {
    font-size: 35px;
    text-align: center;
    margin: 70px 0 40px;
}
.plane_reserve table {
    width: 100%;
    max-width: 1100px;
    word-wrap: break-word;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.plane_reserve th,
td {
    border: 0;
}
.plane_reserve th {
    font-size: 18px;
    font-weight: 100;
    background-color: #d3d3d3;
    text-align: start;
    padding-left: 15px;
}
.plane_reserve td {
    text-align: start;
    padding: 5px 0 5px 10px;
}

.plane_reserve .user_edit_btn {
    margin: 10px 10px 0;
} */
/*------------------------------------
user情報
---------------------------------- */
.user_container {
    margin: 100px;
}
.user_title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
}
.user_detail {
    margin-left: 50px;
    font-size: 25px;
}
.user_link {
    margin-top: 70px;
}
.user_link a {
    margin-right: 50px;
    padding: 20px 30px;
    color: #000;
    /* text-decoration: none; */
    background-color: #f0f8ff;
    border: 1px solid gray;
}
.user_form {
    width: 500px;
    height: 82px;
}
.user_container button {
    font-size: 30px;
    width: 150px;
    height: 70px;
    margin-right: 80px;
}

/* ----------------------------------------------
管理者画面
-----------------------------------------------*/
.manager-list {
    display: flex;
}
.manager-nav {
    margin-top: 50px;
    margin-left: 40px;
}
.manager-nav a {
    display: block;
    padding: 25px 0 25px 30px;
    text-decoration: none;
    border-bottom: solid 1px black;
    width: 270px;
    font-size: 16px;
}
.manager-news {
    margin: 80px 100px 0;
}
.manager-news h1 {
    font-size: 20px;
    font-weight: bold;
}
.manager-news p {
    margin-left: 30px;
}

/*-------------------------------------------
会員一覧,飛行機便リストで共通に使用
---------------------------------------------- */
/* 共通container */
.common-container {
    max-width: 1100px;
    margin: 0 auto;
}
/* 管理者topに戻るリンク */
.manager-link {
    display: block;
    margin: 30px 0 0 40px;
}
/* タイトル */
.main-title h1 {
    text-align: center;
    margin: 80px 0 50px;
}
/* テーブル */
.plane_table {
    margin: 0 auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.plane_table th {
    font-size: 20px;
    border: none;
}
.plane_table td {
    font-size: 16px;
}
.plane_create button {
    height: 50px;
    width: 200px;
    margin-top: 80px;
}
/* 検索フォームの上部余白*/
.search-form {
    margin-top: 30px;
}
/* 検索フォーム */
.searchForm {
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    border: solid 1px gray;
}
.searchForm:focus {
    outline: 1px solid #ffffff;
}
/* 検索ボタン */
.searchBtn {
    font-size: 20px;
    height: 40px;
    width: 100px;
    color: #000;
    background-color: lightgray;
}
/* クリアボタン */
.clearBtn {
    font-size: 20px;
    height: 40px;
    width: 100px;
    color: #000;
    background-color: transparent;
    margin-left: 30px;
    border: solid 1px gray;
}
/*-------------------------------------------

---------------------------------------------- */